.register {
    display: flex;
    justify-content: center;

    .register-container {
        max-width: 1024px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .form {
            padding: 10px;
            width: 40%;

            .heading {
                margin: 20px 0px;
                font-size: 21px;
                font-weight: 600;
            }

            .form-item {
                display: flex;
                flex-direction: column;
                padding: 5px 0px;

                .input {
                    padding: 5px;
                    outline: none;
                    border: 1px solid rgb(146, 146, 146);
                    height: 30px;
                    font-size: 14px;


                    &:focus {
                        outline: 1px solid #0071c2;
                        border: none;
                    }
                }

                .label {
                    font-size: 14px;
                    font-weight: 600;
                    padding: 3px 0px;
                }

            }

            .btn {
                width: 100%;
                height: 40px;
                color: white;
                background-color: #0071c2;
                border: none;
                margin: 10px 0px;
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
            }
        }

        .sub-note {
            width: 40%;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
        }

    }
}