.header {
    color: white;
    background-color: #003580;
    display: flex;
    justify-content: center;
    position: relative;

    .header-container {
        width: 100%;
        max-width: 1024px;
        margin: 20px 0px 80px 0px;

        &.list-mode {
            margin: 20px 0px 10px 0px;
        }

        .header-list {
            display: flex;
            gap: 40px;
            margin-bottom: 10px;

            .header-list-item {
                display: flex;
                align-items: center;
                gap: 10px;

                &.active {
                    border: 1px solid white;
                    padding: 10px;
                    border-radius: 20px;
                }
            }
        }

        .header-title {
            font-size: 22px;
            font-weight: 400;
            margin: 20px 0px;
        }

        .btn {
            color: white;
            background-color: #0071c2;
            border: none;
            padding: 10px;
            font-weight: 500;
            cursor: pointer;
        }

        .search {
            height: 30px;
            background-color: white;
            border: 3px solid #febb02;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px;
            border-radius: 5px;
            position: absolute;
            bottom: -25px;
            width: 100%;
            max-width: 1024px;


            .search-item {
                display: flex;
                align-items: center;
                gap: 10px;
                height: 30px;
                margin-left: 20px;

                .search-text {
                    cursor: pointer;
                    color: rgb(0, 0, 0);
                    width: 150px;
                }

                .header-icon {
                    color: rgb(100, 100, 100);
                }


                .options {
                    z-index: 2;
                    position: absolute;
                    top: 50px;
                    background-color: white;
                    color: gray;
                    border-radius: 5px;
                    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);


                    .option-item {
                        width: 200px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin: 10px 0px;

                        .options-btn {
                            margin: 2px 0px;
                            padding-left: 15px;
                            font-size: 15px;
                            font-weight: 400;
                            background-color: white;
                            color: black;
                            border: none;
                            display: flex;
                            justify-content: start;
                            cursor: pointer;

                            &:hover {
                                color: white;
                                background-color: #0071c2;
                                transition: .1s;
                            }
                        }
                    }

                }


            }

        }




    }

}